*{
    margin:0;
    padding:0;
    max-height:100%;
   
}


body{
    background-color: aqua;
    background-image: url(./remove.png);
}

.container{  
    background-color: white !important;
    margin-top: 4em ;
    padding:20px;
    border-radius: 10px;
}

.title{
    font-size: large;
    margin:0px auto;
}



.submit{
    margin-top: 1.2em;
}

.gender{
    margin-top: 1.4em;
} 

